Source: ruby-ejs
Section: ruby
Priority: optional
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Uploaders: Balasankar C <balasankarc@autistici.org>
Build-Depends: debhelper (>= 7.0.50~), gem2deb, rake, ruby-execjs
Standards-Version: 3.9.6
Vcs-Git: git://anonscm.debian.org/pkg-ruby-extras/ruby-ejs.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-ruby-extras/ruby-ejs.git;a=summary
Homepage: https://github.com/sstephenson/ruby-ejs/
Testsuite: autopkgtest
XS-Ruby-Versions: all

Package: ruby-ejs
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter
Description: EJS (Embedded JavaScript) template compiler
 Compile and evaluate EJS (Embedded JavaScript) templates from Ruby. 
 EJS templates embed JavaScript code inside <% ... %> tags, much 
 like ERB. This library is a port of Underscore.js's _.template 
 function to Ruby, and strives to maintain the same syntax and semantics.
